<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flcxilove.governance.shiro.dao.mapper.ShiroFilterChainMapper">

  <select id="selectShiroFilterChain"
    resultType="flcxilove.governance.shiro.dao.entity.ShiroFilterChain">
    SELECT sfc.uri       as target
         , opt.operation as filters
    FROM ShiroFilterChain sfc
           JOIN Privilege plg on sfc.id = plg.resource
           JOIN Operation opt on opt.id = plg.operation
    WHERE sfc.enabled = 1
      AND plg.enabled = 1
      AND opt.enabled = 1
    ORDER BY sfc.sort
  </select>
</mapper>